.headerContainer {
    height: 20rem;
   background-image: url("../image/Food-Blog.jpg"); 
   background-position: center center;
   background-repeat: no-repeat;
   background-size: 100% auto;
}

Button.textColor {
    color:white;
}

Button.bgColor{
   background:#ffc300 ;
}

.navbarContainer {
    background-color: rgba(255, 235, 205, 0.5);  
}

.claimContainer {
    height: 15rem;
align-items: center;
}

.claimContainer h1 {
    font-size: 6rem;
    color:whitesmoke; 
    background-color: rgb(255, 195, 0, 0.7);
border-radius: 10px;
padding-top: 0.5rem;
padding-bottom: 1rem;
padding-left: 1rem;
padding-right: 1rem;

}